.background {
    background-image: url("./assets/GrayBackground.png");    
    image-rendering: pixelated;

}

.darkBackground {
    background-image: url("./assets/DarkGrayBackground.png");
    image-rendering: pixelated;
}

body{
    display: flex;
}

.inventoryTable{
    height: fit-content;
}

.mainCanvas {
    /* min-width: 120vh; */
    /* min-height: 80vh; */

    /* max-width: 135vh; */
    /* max-height: 90vh; */
    
    image-rendering: pixelated;

    font-family: 'Roboto Mono', monospace;
}

.tibiaBorder{
    border-top: 3px solid #737373;
    border-left: 3px solid #737373;
    border-right: 3px solid #282828;
    border-bottom: 3px solid #282828;
}

.invTileBorder{

    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid #737373;
    border-bottom: 1px solid #737373;
}

.invTileSize{
    /* min 8vh */
    min-width: 8vh;
    min-height: 8vh;

    max-width: 15vh;
    max-height: 15vh;
}